.left-screen {
  background-color: rgba(252, 41, 41, 0.5);
  /* background-color: rgba(72, 128, 248, 0.5); */
  width: 30%;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

/* clock-screen */
.clock-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.clock-box h1 {
  color: white;
  font-size: 80px;
  font-weight: 700;
}

/* weather-screen */
.weather-box {
  margin-top: 80px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-box__img {
  width: 70px;
  height: 70px;
}

.weather-box div:nth-child(2) {
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.weather-box span {
  color: white;
  /* font-weight: 700; */
}

.weather-box__temp {
  font-size: 70px;
  font-weight: 700;
}

.weather-box__title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}

.weather-box__wind {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.weather-box__place {
  font-size: 20px;
  font-weight: 600;
}

/* clothes-screen */
.clothes-box {
  /* background-color: tomato; */
  width: 320px;
  height: 400px;
  margin-top: 80px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clothes-box__title {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

.clothes-box__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.clothes-box__header i {
  color: white;
  font-size: 25px;
}

.clothes-box__header i:first-child {
  margin-right: 10px;
}

.clothes-box__header i:nth-child(3) {
  margin-left: 10px;
}

.clothes-box__temperature {
  width: 250px;
  height: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.clothes-box__temperature i {
  margin-right: 7px;
  color: #4ba8d3;
}

.clothes-box__clothes-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
