.mid-screen {
  background-color: rgba(72, 128, 248, 0.5);
  width: 40vw;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* name-box, greetings-box */
.name-box {
  width: 500px;
  height: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name__form input {
  width: 400px;
  height: 30px;
}

.info-box__name {
  width: 200px;
  height: 23px;
  margin-top: 10px;
}

.greetings-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.greetings__title {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.greetings__name {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

/* todo-box */

.todo-box {
  margin-top: 80px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* overflow: hidden; */
}

.js-toDoForm input {
  width: 400px;
  height: 30px;
}

.info-box__todo {
  width: 210px;
  margin-top: 30px;
}

.toDoList-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 440px;
  height: 550px;
  margin-top: 30px;
  padding: 0 20px;
  overflow-y: scroll;
}
