.right-screen {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: rgba(252, 41, 41, 0.5);
  /* background-color: rgba(130, 28, 27, 0.5); */
  width: 30%;
  height: 90vh;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.news-box {
  margin-top: 100px;
  height: 800px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.news-box h1 {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.news-box__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 500px;
  margin-top: 50px;
  overflow: scroll;
}

.news-box__info {
  width: 230px;
  height: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.news-box__info i {
  margin-right: 7px;
  color: #4ba8d3;
}

.news-box__info-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  color: #4ba8d3;
}
