.right-screen {
  background-color: rgba(252, 41, 41, 0.5);
  width: 30vw;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.news-box {
  margin-top: 30px;
  height: 800px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.news-box h1 {
  font-size: 70px;
  font-weight: 700;
  width: 300px;
  color: white;
}

.news-box__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 500px;
  margin-top: 40px;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.info-box__news {
  width: 230px;
  margin-top: 50px;
}
